<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>Reto 02 | Reportes</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
	rel="stylesheet">
</head>
<body>
	<header th:insert="fragments/menu :: menu-principal"></header>

	<form th:action="@{/report/download/report1}" method="GET">
		<div class="col">
			<div class="form-group">
				<label for="description">TIPO</label> <select class="form-control"
					id="tipo" name="tipo" required>
					<option value="" disabled selected hidden>Seleccione una
						opción</option>
					<option value="PDF">PDF</option>
					<option value="EXCEL">Excel</option>
				</select>
			</div>
		</div>
		<div
			class="d-flex gap-1 flew-row justify-content-start aligin-items-center">
			<a th:href="@{/}" class="btn btn-primary mt-3" role="button"
				title="Regresar"><i class="bi bi-arrow-left-circle"></i> Volver</a>
			<button type="submit" class="btn btn-primary mt-3" title="Guardar">Enviar</button>
		</div>
	</form>
</body>
</html>